/* font-family: 'Red Hat Display', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  /* Font-Weight */
  --initialWeight: 500;
  --boldWeight: 700;
  --xtraBoldWeight: 900;

  /* Width */
  --widthInitial: 85%;
  --widthWilder: 90%;
  --widthMax: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 350;

  background-image: url(./images/pattern-background-desktop.svg);
  background-color: hsl(225, 100%, 94%);
  background-repeat: repeat-x;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Red Hat Display", sans-serif;
  font-weight: var(--initialWeight);
}

.container {
  display: flex;
  flex-direction: column;

  max-width: 375px;
  width: 90%;
  min-width: 330px;
  background: white;

  border-radius: 10px;
  box-shadow: 0px 10px 5px hsl(225deg 100% 90%);
}

.illustration_hero {
  display: block;
  padding: 0;
  margin: 0;

  width: 100%;

  border-radius: 10px 10px 0 0;
}

.card {
  margin: auto;
  width: 90%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;
}

.card_title {
  margin: 1em auto 0.75em;
  font-size: 1.5em;
  font-weight: var(--xtraBoldWeight);
}

.card_paragraph {
  margin: 0;

  color: hsl(224, 23%, 55%);
}

.card_title,
.card_component,
.card_paragraph,
.card_btn {
  width: 85%;
}

/***********
CARD COMPONENT
************/

.card_component {
  margin: 1.5em 0;
  padding: 0.7em 0;

  background: hsl(225, 100%, 98%);

  display: flex;
  justify-content: start;
  align-items: center;

  border-radius: 10px;
}

.card_component-icon {
  margin: 0 0.8em;
}

.card_component_plan p {
  margin: 0.3em auto;
}

.card_component_plan-title {
  font-size: 0.9rem;
  font-weight: 900;
}

.card_component_plan-price {
  font-size: 0.9rem;
  color: hsl(224, 23%, 55%);
}

.card_component-change {
  margin-right: 1.3em;
  margin-left: auto;

  font-weight: var(--boldWeight);
  color: hsl(245, 75%, 52%);

  transform: scale(1);
  transition: all 250ms;
}

.card_component-change:hover,
.card_component-change:focus,
.card_component-change:hover {
  color: hsl(223, 47%, 23%);
  text-decoration: none;
}

.card_component-change:active {
  transform: scale(1.05);
}

/*********************
Btn PART
***********************/

.card_btn {
  margin-bottom: 0.5em;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.card_btn-primary {
  margin-bottom: 0.8em;
  padding: 0.6rem;

  background: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);

  border: none;
  border-radius: 10px;

  font-family: "Red Hat Display", sans-serif;
  font-weight: var(--boldWeight);

  cursor: pointer;
  transition: all 250ms;
  transform: scale(1);

  box-shadow: 0px 13px 8px hsl(225deg 100% 90%);
}

.card_btn-inverse {
  color: hsl(224, 23%, 55%);
  background: none;

  transition: all 250ms;
  box-shadow: 0px 0px 0px #000;
}

.card_btn-primary:hover,
.card_btn-primary:focus {
  background: hsl(223, 47%, 23%);
}

.card_btn-primary:active {
  transform: scale(1.05);
}

.card_btn-inverse:hover,
.card_btn-inverse:focus {
  background: none;
  color: hsl(223, 47%, 23%);
}
